@import "styles/include";

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;

  .page {
    padding: 0 10px;
    margin: 0 5px 10px;
    min-width: 30px;
  }

  .current {
    color: #2a2a2a;
    cursor: default;
    border-color: #2a2a2a;
  }

  .next {
    margin-left: 5px;
    margin-bottom: 10px;

    > svg {
      transform: rotate(-90deg);

      path {
        fill: #137d60;
      }
    }
  }

  .prev {
    margin-right: 5px;
    margin-bottom: 10px;

    > svg {
      margin-right: 3px;
      transform: rotate(90deg);

      path {
        fill: #137d60;
      }
    }
  }
}
