@import "styles/include";
@import "~react-datepicker/dist/react-datepicker.css";



.tc-form {
  width: 100%;

  .job-form-fields-container {
    padding: 40px 19% 20px;

    .job-form-fields-wrapper{
      max-width: 640px;
    }

    input:not([type="checkbox"]),
    textarea {
      margin-bottom: 0px;
    }

    .field-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form-actions {
    border-top: 1px solid #e9e9e9;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 16px 0 16px;
    :first-child {
      margin-left: auto;
    }
    button {
      height: 40px;
      border-radius: 20px;
      line-height: 40px;
    }
    a {
      margin-left: 15px;
    }
  }
}

.datepicker-wrapper {
  & > div {
    width: 100%;
  }
}

.datepicker-wrapper > div:nth-child(2) > div:nth-child(2) {
  z-index: 100;
}

@media (max-width: 1366px) {
  .tc-form{
    .job-form-fields-container {
        padding-left: 15%;
        padding-right: 15%;
        transition: 300ms;
      }
  }
}

@media (max-width: 1280px) {
  .tc-form{
    .job-form-fields-container {
        padding-left: 10%;
        padding-right: 10%;
        transition: 300ms;
      }
  }
}

@media (max-width: 1020px) {
  .tc-form{
    .job-form-fields-container {
        padding-left: 5%;
        padding-right: 5%;
        transition: 300ms;
      }
  }
}

@media (max-width: 854px) {
  .tc-form{
    .job-form-fields-container {
        padding-left: 0;
        padding-right: 0;
        transition: 300ms;
      }
  }
}