@import "styles/include";
@import "~react-datepicker/dist/react-datepicker.css";


@media (max-width: 1421px) {
  .tc-form  > .job-form-fields {
      padding: 0px !important;
    }
}

.tc-form {
  width: 100%;

  .job-form-fields {
    padding: 40px 19% 20px;

    input:not([type="checkbox"]),
    textarea {
      margin-bottom: 0px;
    }

    .field-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form-actions {
    border-top: 1px solid #e9e9e9;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 16px 0 16px;
    :first-child {
      margin-left: auto;
    }
    button {
      height: 40px;
      border-radius: 20px;
      line-height: 40px;
    }
    a {
      margin-left: 15px;
    }
  }
}

.datepicker-wrapper {
  & > div {
    width: 100%;
  }
}

.datepicker-wrapper > div:nth-child(2) > div:nth-child(2) {
  z-index: 100;
}

