.tag {
  font-family: Roboto;
  display: inline-flex;
  align-items: center;
  height: 32px;
  border-radius: 32px;
  border: 1px solid #0AB88A;
  color: #2A2A2A;
  font-size: 10px;
  padding: 8px;
  line-height: 12px;
  margin-right: 6px;
  margin-bottom: 6px;


  .image {
    height: 20px;
  }
  &.unmatched {
    border-color: #EF476F;
    background-color: #E9E9E9;
    color: #2A2A2A;

  }
}
.item-card {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  width: 117px;
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 24px 24px;
  cursor: pointer;
  color: #555;
  font-weight: 500;

  &.selected {
    border-color: #0ab88a;
    background-color: #e0faf3;
    font-weight: 500;
    color: #2a2a2a;
  }
}

.item-text {
  text-align: center;
  font-size: 14px;
}
