.radio-input {
  width: auto;
  height: auto;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;

  &.horizontal {
    margin-bottom: 0;
    display: inline-block;
    margin-left: 24px;
  }
}

.custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #AAA;
}

.radio-input:checked ~ .custom {
  background-color: #0AB88A;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.29);
}

.custom:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-input:checked ~ .custom:after {
  display: block;
}

.container .custom:after {
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
  background: white;
}