@import "styles/include";

.button {
  @include font-roboto;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  white-space: nowrap;

  &[disabled] {
    cursor: default;
  }
}

.size-medium {
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 38px;
  height: 40px;
  padding: 0 19px;
  text-transform: uppercase;
}

.size-small {
  border-radius: 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.8px;
  height: 30px;
  padding: 0 14px;
  text-transform: uppercase;
}

.type-primary {
  border: 1px solid #137d60;
  background-color: #137d60;
  color: #fff;
}

.type-warning {
  border: 1px solid #ef476f;
  background-color: #ef476f;
  color: #fff;
}

.type-secondary {
  background-color: #fff;
  border: 1px solid #137d60;
  color: #229174;
}

.type-secondary[disabled] {
  border-color: #e9e9e9;
  color: #e9e9e9;
}

.type-segment {
  background-color: transparent;
  border: 1px solid transparent;
  color: #2a2a2a;
  font-size: 12px;
  font-weight: normal;
}

.type-segment-selected {
  border: 1px solid #7f7f7f;
  background-color: #7f7f7f;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}

.type-segment[disabled] {
  color: #e9e9e9;
}

.type-primary[disabled],
.type-warning[disabled],
.type-segment-selected[disabled] {
  background-color: #e9e9e9;
  border-color: #e9e9e9;
}
