ol {
  list-style-type: decimal;
  padding: 25px;
  li {
    margin-top: 5px;
  }
}

.user {
  font-size: 14px;
  color: #0d61bf;
  padding-bottom: 25px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 25px;
}
