@import "styles/include";

.landing-box {
  @include rounded-card;
  flex: 1;
  color: #fff;
  padding-bottom: 30px;
  height: 324px;
  margin: 20px 10px;
  position: relative;
}

.flex-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;

  .icon {
    margin: 30px 0 20px;
    width: 50px;
    height: 50px;
    > svg {
      width: 100%;
      height: 100%;
    }
  }
  button {
    border: none;
  }
}

.title {
  @include font-barlow-condensed;
  font-weight: normal;
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description {
  flex: 1;
  white-space: pre-line;
  font-size: 16px;
  line-height: 26px;
  width: 268px;
  text-align: center;
}

.gap {
  font-family: Roboto;
  position: absolute;
  background-color: #d4d4d4;
  border: 3px solid #f4f5f6;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  box-sizing: content-box;
  color: #7f7f7f;
  font-size: 16px;
  text-align: center;
  right: -32.5px;
  z-index: 2;
  top: 130px;
}
