.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 42px 35px;
  .right-side {
    display: flex;
    flex-direction: column;
    & > div:not(:first-child) {
      margin-top: 16px;
    }
  }
}