@import "styles/include";

.roles-list {
  @include rounded-card;
  max-width: 746px;
  margin-right: 20px;
  position: relative;
  height: 80vh;
  overflow-y: scroll;

  > header {
    padding: 16px 24px;
  }
}

.role-count {
  position: absolute;
  font-size: 12px;
  top: 72px;
  left: 73px;
}

// adding "input:not([type="checkbox"])" to make sure that we override reset styles
input:not([type="checkbox"]).filter-input {
  display: inline-block;
  position: relative;
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  box-sizing: border-box;
  color: #2a2a2a;
  font-size: 14px;
  height: 40px;
  line-height: 38px;
  outline: none;
  padding: 0 15px;

  &:not(:focus) {
    background-image: url("../../../../../../assets/images/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    text-indent: 20px;
  }

  &::placeholder {
    color: #aaaaaa;
  }
}

.clear-input-button {
  position: absolute;
  right: 35px;
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  cursor: pointer;
  &:hover {
    color: rgb(216, 24, 24);
  }
}

.role-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: 24px;
}
