@import "styles/include";

.completeness {
  @include rounded-card;
  padding: 12px;
  position: relative;
  background-image: linear-gradient(221.5deg, #2c95d7 0%, #9d41c9 100%);
  width: 250px;
  color: #fff;
}

.list {
  margin-bottom: 40px;
}

.list-item {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 16px;

  &:before {
    content: "";
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    display: block;
    float: left;
  }

  &.done {
    font-weight: 700;
    &:before {
      background-color: #fff;
    }
  }
}
