@import "styles/include";

.skills-list {
  @include rounded-card;
  max-width: 746px;
  margin-right: 30px;
  height: 80vh;
  overflow: scroll;
  position: relative;

  > header {
    padding: 16px 24px;
  }
}

.skill-count {
  position: absolute;
  font-size: 12px;
  top: 72px;
  left: 73px;
}

// adding "input:not([type="checkbox"])" to make sure that we override reset styles
input:not([type="checkbox"]).filter-input {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  box-sizing: border-box;
  color: #2a2a2a;
  font-size: 14px;
  height: 40px;
  line-height: 38px;
  outline: none;
  padding: 0 15px;

  &::placeholder {
    color: #aaaaaa;
  }
}

.skill-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: 24px;
}
