@import "styles/include";

.result-card {
  @include rounded-card;
  max-width: 746px;
  width: 50vw;
  margin-right: 30px;
}

.non-clickable {
  pointer-events: none;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 60px 0;
  margin-bottom: 30px;
  color: #fff;
  background-image: linear-gradient(225deg, #0ab88a 0%, #137d60 100%);
  position: relative;
  text-align: center;
  border-radius: 8px 8px 0 0;
  cursor: pointer;

  svg {
    margin-bottom: 8px;
    g {
      stroke: #fff;
    }
  }

  h3 {
    @include font-barlow-condensed;
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 8px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 44px;

  .matching-info {
    display: flex;
    text-align: center;
    align-items: center;
    > div.vertical-line {
      display: block;
      height: 170px;
      width: 1px;
      background-color: #e9e9e9;
      margin: 0 40px;
    }
    .progressbar-child {
      margin-top: 5px;
      width: 90px;
      height: 90px;
    }
  }

  .footer {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 26px;

    span {
      font-weight: 900;
    }
  }

  h4 {
    @include font-barlow-condensed;
    font-size: 48px;
    margin-bottom: 14px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
  }
}

.users {
  margin-bottom: 8px;
}

.curve {
  position: absolute;
  left: 0;
  bottom: -70px;
  width: 100%;
}

.transparent-icon {
  position: absolute;
  top: -40px;
  right: 10px;
  opacity: 12%;
  height: 142px;
  width: 142px;
}

.rate-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.xeno-rates {
  display: flex;
  flex-direction: column;
  padding: 0 25px 50px 52px;
  .greeting-txt {
    @include font-roboto;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    width: 100%;
    text-align: left;
  }

  .rates {
    display: flex;
    margin-top: 24px;
    .rate-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      &:not(:first-child) {
        margin-left: 40px;
      }

      .rate-heading {
        display: flex;
        align-items: flex-end;
        h4 {
          @include font-barlow;
          font-size: 16px;
          line-height: 20px;
          font-weight: 700;
          text-transform: uppercase;
        }
        p {
          @include font-barlow;
          font-size: 14px;
          line-height: 16px;
          margin-left: 3px;
        }
      }
      .senior, .standard, .junior {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 22px;
        &::before {
          content: "";
          position: absolute;
          width: 3px;
          height: 100%;
        }

        h4 {
          margin-left: 12px;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          line-height: 16px;
          color: #2A2A2A;
          text-transform: uppercase;
        }
        .cost {
          display: flex;
          align-items: flex-end;
          h4 {
            @include font-barlow-condensed;
            font-size: 34px;
            font-weight: 500;
            line-height: 38px;
            color: #2A2A2A;
          }
          p {
            @include font-roboto;
            font-size: 14px;
            line-height: 22px;
            color: #555555;
            margin-left: 4px;
            align-items: flex-end;
          }
        }
      }
      .senior::before {
        background-color: #C99014;
      }
      .standard::before {
        background-color: #716D67;
      }
      .junior::before {
        background-color: #854E29;
      }
    }
  }
}

.vertical-line {
  display: block;
  height: 200px;
  width: 1px;
  background-color: #e9e9e9;
  margin: 0 40px;
}

.timeline-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  &:not(:first-child) {
    margin-top: 24px;
  }

  svg {
    height: 36px;
    width: 36px;
    margin-right: 16px;

    g {
      stroke: #000;
    }
  }

  p {
    font-size: 14px;
    line-height: 22px;
  }

  h6 {
    @include font-roboto;
    font-size: 22px;
    font-weight: 700;
  }
}

.rate-right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
}

.weekly-rate {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  margin-left: 30px;

  h5 {
    @include font-barlow-condensed;
    font-size: 48px;
    font-weight: 500;
    margin-right: 4px;
  }

  p {
    font-size: 14px;
    color: #555;
  }
}

.rate-type {
  h6 {
    @include font-barlow;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 20px;
  }
  p {
    font-size: 14px;
    color: #555;
  }
}

.cost-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  &:not(:first-child) {
    margin-top: 34px;
  }
}

.rate-left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}
