@import "styles/include";

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px 0;
}

.title-wrapper {
  align-items: center;
  display: flex;
  margin-right: 32px;
  padding: 16px 0;
}

.title {
  @include font-barlow-condensed;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  margin: 0;
  overflow-wrap: anywhere;
  padding: 0;
  text-transform: uppercase;
}

.back-to {
  align-items: center;
  display: flex;
  border-right: 1px solid #d4d4d4;
  height: 40px;
  margin-right: 16px;
  padding-right: 16px;
}

@media (max-width: 374px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}
