@import "styles/include";

.percentage-bar {
  background-color: #E9E9E9;
  border-radius: 4px;
  overflow: hidden;
  height: 8px;
}

.value {
  background-color: #0AB88A;
  border-radius: 4px;
  height: 8px;
}
