@import "styles/include";

.exceeds-max-number-txt {
  padding: 15px;
  letter-spacing: 0.5px;
}

.user {
  font-size: 14px;
  color: #0d61bf;
  max-width: 37%;
  .max-warning-txt {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 11px;
    color: gray;
  }
}

.top {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.center {
  padding: 25px 0;
  border-bottom: 1px solid #e9e9e9;
}

.center-header {
  @include font-barlow;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 10px 0;
  padding: 0;
  text-transform: uppercase;
}

.modal-text {
  @include font-roboto;
  font-size: 14px;
}

.add-more {
  outline: none;
  background: #fff;
  margin: 10px 0 0 0;
  padding: 0;
  color: #0d61bf;
  border: none;
  border-radius: 0;

  &:hover {
    text-decoration: underline;
  }
}

.array-item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.array-input {
  width: 100%;
}

.remove-item {
  position: absolute;
  right: 45px;
  margin-top: 33px;
  font-size: 33px;
  color: #ef476f;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.connectError {
  color: #ef476f;
  text-align: center;
}

.connectSuccess {
  color: #137d60;
  text-align: center;
}
