@import "styles/include";

.result-card {
  @include rounded-card;
  max-width: 746px;
  width: 50vw;
  margin-right: 30px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 60px 0;
  margin-bottom: 14px;
  color: #fff;
  background-image: linear-gradient(225deg, #555555 0%, #2A2A2A 100%);
  position: relative;
  text-align: center;
  border-radius: 8px 8px 0 0;

  svg {
    margin-bottom: 8px;
    g {
      stroke: #fff;
    }
  }

  h3 {
    @include font-barlow-condensed;
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 8px;
    font-weight: 500;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 61px;
  .job-title {
    @include font-barlow;
    font-size: 22px;
    margin-bottom: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    // position text over bottom of header image
    position: relative;
    z-index: 100;
    }
  p.info-txt {
    @include font-roboto;
    font-size: 14px;
    line-height: 22px;
    width: 80%;
    text-align: center;
  }
  .niche-rate-box {
    margin-top: 32px;
    background-color: #FBFBFB;
    padding: 30px;
    border: 1px solid #F4F4F4;
    border-radius: 6px;
    width: 196px;
    p:first-child {
      @include font-barlow;
      margin-top: 4px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }
    p:last-child {
      @include font-roboto;
      color: #555555;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
    .cost {
      @include font-barlow-condensed;
      margin-top: 8px;
      font-size: 48px;
      line-height: 50px;
      font-weight: 500;
      text-align: center;
    }
  }

  .button-group {
    margin-top: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .left {
      margin-right: 30px;
    }
  }
}

.curve {
  position: absolute;
  left: 0;
  bottom: -70px;
  width: 100%;
}

.transparent-icon {
  position: absolute;
  top: -40px;
  right: 10px;
  opacity: 12%;
  height: 142px;
  width: 142px;
}
