.edit-container {
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 746px;
  position: relative;
  margin-right: 30px;
  padding: 0 30px 30px;
  flex: 1;
}

.title {
  font-weight: 500;
}

.job-title {
  margin-bottom: 15px;

  input:not([type="checkbox"]) {
    line-height: normal;
    padding: 8px 15px;
  }
}
