.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 42px 35px;

  .edit-container {
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 746px;
    position: relative;
    margin-right: 30px;
    padding: 0 30px 30px;
    flex: 1;
  }
}
