.error {
  :first-child {
    border-color: #ff5b52;
  }
}

.select-wrapper {
  input {
    border: none !important;
    box-shadow: none !important;
    transition: none !important;
    height: 28px;
  }
}

.react-select__option {
  min-height: 32px;
}
