@import "styles/include";

.datepicker-wrapper {
  & > div {
    width: 100%;
  }
  &.error {
    input {
      border-color: #fe665d;
    }
  }
}

.datepicker-wrapper > div:nth-child(2) > div:nth-child(2) {
  z-index: 100;
}
