@import "styles/include";

.percentage {
  align-items: center;
  display: flex;
  color: #0AB88A;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
}

.percentage-bar {
  flex: 0 0 40px;
  margin-right: 8px;
  width: 40px;
}

.more {
  color: #0D61BF;
  cursor: pointer;
  white-space: nowrap;
}
