@import "styles/include";

.title {
  @include font-barlow;
  font-weight: 600;
  font-size: 22px;
  color: #7f7f7f;
  text-align: center;
  text-transform: uppercase;
}

.customer-logos {
  background-image: url("../../assets/images/customer-logos.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 56px;
  width: 100%;
}

@media only screen and (max-height: 859px) {
  .title {
    font-size: 16px;
  }
}
