@import "styles/include";

.item-card {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 12px 16px;
  width: 212px;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 0 23px 23px;
}

.item-text {
  @include font-barlow;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.button {
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  outline: none;
  background: none;
  color: #0d61bf;
  border: none;
  text-align: left;

  &:hover {
    text-decoration: underline;
  }
}
