@import "styles/include";

.filter-input {
  width: 380px;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  box-sizing: border-box;
  color: #2a2a2a;
  font-size: 14px;
  height: 40px;
  line-height: 38px;
  outline: none;
  padding: 0 15px;

  &::placeholder {
    color: #aaaaaa;
  }
}

.empty {
  text-align: center;
}

.pagination-wrapper {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 650px) {
  .filter-input {
    width: 100%;
  }
}
