@import "styles/include";

/* The container */
.container {
  @include font-roboto;
  color: #2a2a2a;
  font-size: 14px;
  line-height: 20px;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.disabled {
    pointer-events: none;
    color: #a89e9e;
  }
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  &.float-left {
    left: 0;
  }
  &.float-right {
    right: 0;
  }
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a green background */
.container input:checked ~ .checkmark {
  background-color: #0ab88a;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.29);
}

/* When the checkbox is disabled, grey out the background */
.container input:disabled ~ .checkmark {
  background-color: #cccccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
}
