.error {
  :first-child {
    border-color: #ff5b52;
  }
}

.select-wrapper {
  input {
    border: none !important;
    box-shadow: none !important;
  }
}

.react-select__option{
  min-height: 32px;
}

input{
  transition: none !important;
}
