@import 'styles/include';

.table-group {
  @include table-group;
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 1305px) {
  .table-group {
    margin-left: 0;
  }
}

.table-cell {
  @include table-cell;
}

.time-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1 400px;
}