.modal-content {
  align-items: center;
}

.spinner-wrapper {
  padding-top: 103px;
  display: none;
}

.title-style {
  text-align: center;
  border-bottom-color: transparent;
}

.show-spinner {
  display: block;
}

.component-wrapper {
  display: none;
}

.show-component-wrapper {
  display: block;
}
