@import "styles/include";
@import "~react-datepicker/dist/react-datepicker.css";

.rb-modification-details {
  @include rounded-card;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 24px 20px;
}
