@import "styles/include";

.timedout-wrapper {
}

.timedout-text {
  margin-top: 70px;
  margin-bottom: 232px;
  @include font-roboto;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: flex-end;
}

.confirm-text-bold {
  font-weight: bold;
}

.manage-calendar {
  color: #0d61bf;
  @include font-roboto;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
}

.topcoder-support-email-link {
  color: #0d61bf !important;
  @include font-roboto;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
}
